.classpath
.project
.factorypath
sql2dsl.iml
.settings/
target/
.idea/
.gradle/
.history/pom_20201203151448.xml
.history/pom_20210113142641.xml
.history/pom_20210113142642.xml
.history/src/test/java/com/wantest/es/sql2dsl/es4sql/ExplainTest_20201203150756.java
.history/src/test/java/com/wantest/es/sql2dsl/es4sql/ExplainTest_20210113142217.java
.history/src/test/java/com/wantest/es/sql2dsl/es4sql/ExplainTest_20210113142223.java
.history/src/main/java/com/wantest/es/sql2dsl/es4sql/query/MyAggregationQueryAction_20201203150407.java
.history/src/main/java/com/wantest/es/sql2dsl/es4sql/query/MyAggregationQueryAction_20210113170248.java
.history/src/main/java/com/wantest/es/sql2dsl/es4sql/query/MyAggregationQueryAction_20210113170337.java
.history/src/test/java/com/wantest/es/sql2dsl/es4sql/ExplainTest_20210113170017.java
.history/src/test/java/com/wantest/es/sql2dsl/es4sql/ExplainTest_20210113170433.java
.history/src/test/java/com/wantest/es/sql2dsl/es4sql/ExplainTest_20210113170434.java
.history/src/test/java/com/wantest/es/sql2dsl/es4sql/ExplainTest_20210114104607.java
.history/src/test/java/com/wantest/es/sql2dsl/es4sql/ExplainTest_20210114104615.java
.history/src/test/java/com/wantest/es/sql2dsl/es4sql/ExplainTest_20210114105640.java
.history/src/test/java/com/wantest/es/sql2dsl/es4sql/ExplainTest_20210114105650.java
.history/src/test/java/com/wantest/es/sql2dsl/es4sql/ExplainTest_20210114105653.java
.history/src/test/java/com/wantest/es/sql2dsl/es4sql/ExplainTest_20210114105655.java
